In [21]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime
import os

In [22]:
symbol = input("Symbol = ")

start_date = input(f"Start date = (YYYY-MM-DD)").strip()
start_date = start_date.split("-")
start_date = [int(item) for item in start_date]

to_date = input(f"To date = (YYYY-MM-DD)").strip()
to_date = to_date.split("-")
to_date = [int(item) for item in to_date]

interval = input("""interval = 
                 
                ONE_MINUTE = "1"
                FIVE_MINUTES = "5"
                FIFTEEN_MINUTES = "15"
                THIRTY_MINUTES = "30"

                ONE_HOUR = "1H"

                ONE_DAY = "1D"
                ONE_WEEK = "1W"
                ONE_MONTH = "1M"
                 """).strip()
query_string = {
    'symbol': symbol, 
}
query_string["resolution"] = interval
query_string["from"] = str(datetime(start_date[0], start_date[1], start_date[2]).timestamp())
query_string["to"] = str(datetime(to_date[0], to_date[1], to_date[2]).timestamp())

In [23]:
query_string

{'symbol': 'VN30',
 'resolution': '1D',
 'from': '946659600.0',
 'to': '1732467600.0'}

In [24]:
headers = {'accept': 'application/json, text/plain, */*',
           'accept-encoding': 'gzip, deflate, br, zstd',
           'accept-language': 'en-US,en;q=0.9',
           'origin': 'https://iboard.ssi.com.vn',
           'priority': 'u=1, i',
           'referer': 'https://iboard.ssi.com.vn/',
           'sec-ch-ua': '"Not/A)Brand";v="8", "Chromium";v="126", "Microsoft Edge";v="126"',
           'sec-ch-ua-mobile': '?0',
           'sec-ch-ua-platform': '"Windows"',
           'sec-fetch-dest': 'empty',
           'sec-fetch-mode': 'cors',
           'sec-fetch-site': 'same-site',
           'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36 Edg/126.0.0.0'}

In [25]:
url_without_params = 'https://iboard-api.ssi.com.vn/statistics/charts/history'

In [26]:
response = requests.get(
    url=url_without_params,
    headers=headers,
    params=query_string
)

In [27]:
response.status_code

200

In [28]:
df = pd.DataFrame(response.json()["data"])

In [29]:
df

               t        c        o        h        l          v   s
0     1328486400   447.47   449.38   449.38   441.60   13467070  ok
1     1328572800   449.31   448.37   450.13   443.38   17261070  ok
2     1328659200   460.98   452.13   460.98   450.00   20406280  ok
3     1328745600   464.73   467.18   467.18   461.49   20379320  ok
4     1328832000   458.23   464.25   464.25   456.52   20816360  ok
...          ...      ...      ...      ...      ...        ...  ..
3191  1731974400  1259.08  1272.23  1273.49  1259.00  169396600  ok
3192  1732060800  1271.73  1258.25  1277.67  1250.67  214064000  ok
3193  1732147200  1286.67  1272.40  1286.67  1266.45  193774200  ok
3194  1732233600  1286.07  1286.67  1292.21  1284.01  155315300  ok
3195  1732492800  1291.94  1286.46  1293.30  1285.82  139569600  ok

[3196 rows x 7 columns]

In [30]:
df['t'] = pd.to_datetime(df['t'], unit='s').dt.strftime('%m-%d-%Y 00:00:00+00:00')
df['t'] = pd.to_datetime(df['t'])

In [31]:
df

,t,c,o,h,l,v,s
0,2012-02-06 00:00:00+00:00,447.47,449.38,449.38,441.60,13467070,ok
1,2012-02-07 00:00:00+00:00,449.31,448.37,450.13,443.38,17261070,ok
2,2012-02-08 00:00:00+00:00,460.98,452.13,460.98,450.00,20406280,ok
3,2012-02-09 00:00:00+00:00,464.73,467.18,467.18,461.49,20379320,ok
4,2012-02-10 00:00:00+00:00,458.23,464.25,464.25,456.52,20816360,ok
...,...,...,...,...,...,...,...
3191,2024-11-19 00:00:00+00:00,1259.08,1272.23,1273.49,1259.00,169396600,ok
3192,2024-11-20 00:00:00+00:00,1271.73,1258.25,1277.67,1250.67,214064000,ok
3193,2024-11-21 00:00:00+00:00,1286.67,1272.40,1286.67,1266.45,193774200,ok
3194,2024-11-22 00:00:00+00:00,1286.07,1286.67,1292.21,1284.01,155315300,ok
3195,2024-11-25 00:00:00+00:00,1291.94,1286.46,1293.30,1285.82,139569600,ok

In [32]:
df.rename(
    columns={
        "t": "Date",
        "c": "Close",
        "o": "Open",
        "h": "High",
        "l": "Low",
        "v": "Volume"
    },
    inplace=True
)
df.drop(columns=["s"], inplace=True)

In [33]:
df

                          Date    Close     Open     High      Low     Volume
0    2012-02-06 00:00:00+00:00   447.47   449.38   449.38   441.60   13467070
1    2012-02-07 00:00:00+00:00   449.31   448.37   450.13   443.38   17261070
2    2012-02-08 00:00:00+00:00   460.98   452.13   460.98   450.00   20406280
3    2012-02-09 00:00:00+00:00   464.73   467.18   467.18   461.49   20379320
4    2012-02-10 00:00:00+00:00   458.23   464.25   464.25   456.52   20816360
...                        ...      ...      ...      ...      ...        ...
3191 2024-11-19 00:00:00+00:00  1259.08  1272.23  1273.49  1259.00  169396600
3192 2024-11-20 00:00:00+00:00  1271.73  1258.25  1277.67  1250.67  214064000
3193 2024-11-21 00:00:00+00:00  1286.67  1272.40  1286.67  1266.45  193774200
3194 2024-11-22 00:00:00+00:00  1286.07  1286.67  1292.21  1284.01  155315300
3195 2024-11-25 00:00:00+00:00  1291.94  1286.46  1293.30  1285.82  139569600

[3196 rows x 6 columns]

In [34]:
df["Date"].min()

Timestamp('2012-02-06 00:00:00+0000', tz='UTC')

In [35]:
df["Date"].max()

Timestamp('2024-11-25 00:00:00+0000', tz='UTC')

In [36]:
symbol = symbol.replace(".", "_").lower()

In [37]:
min_date = df["Date"].min().date()
max_date = df["Date"].max().date()
folder_save = f"../../data/{symbol}"
os.makedirs(folder_save, exist_ok=True)
file_name = f"{folder_save}/{symbol}-{str(min_date)}-to-{str(max_date)}_{interval}.csv"

In [38]:
file_name = file_name.replace("-", "_")

In [39]:
file_name

'../../data/vn30/vn30_2012_02_06_to_2024_11_25_1D.csv'

In [40]:
df.to_csv(file_name, index=False)