In [ ]:
import requests
import pandas as pd
import numpy as np
from trade_trade_trade_datetime import datetime

In [2]:
symbol = 'VNINDEX'

In [3]:
query_string = {
    'symbol': symbol, 
}

In [4]:
query_string["resolution"] = "1D"
query_string["from"] = str(datetime(2000, 1, 1).timestamp())
query_string["to"] = str(datetime.now().timestamp())

In [5]:
query_string

{'symbol': 'VNINDEX',
 'resolution': '1D',
 'from': '946659600.0',
 'to': '1731551194.609363'}

In [6]:
headers = {'accept': 'application/json, text/plain, */*',
           'accept-encoding': 'gzip, deflate, br, zstd',
           'accept-language': 'en-US,en;q=0.9',
           'origin': 'https://iboard.ssi.com.vn',
           'priority': 'u=1, i',
           'referer': 'https://iboard.ssi.com.vn/',
           'sec-ch-ua': '"Not/A)Brand";v="8", "Chromium";v="126", "Microsoft Edge";v="126"',
           'sec-ch-ua-mobile': '?0',
           'sec-ch-ua-platform': '"Windows"',
           'sec-fetch-dest': 'empty',
           'sec-fetch-mode': 'cors',
           'sec-fetch-site': 'same-site',
           'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36 Edg/126.0.0.0'}

In [7]:
url_without_params = 'https://iboard-api.ssi.com.vn/statistics/charts/history'

In [8]:
response = requests.get(
    url=url_without_params,
    headers=headers,
    params=query_string
)

In [9]:
response.status_code

200

In [10]:
df = pd.DataFrame(response.json()["data"])

In [11]:
df

               t        c        o        h        l          v   s
0      964742400   100.00   100.00   100.00   100.00       4200  ok
1      965001600   101.55   101.55   101.55   101.55      10300  ok
2      965174400   103.38   103.38   103.38   103.38        300  ok
3      965347200   105.20   105.20   105.20   105.20       3800  ok
4      965606400   106.92   106.92   106.92   106.92      13200  ok
...          ...      ...      ...      ...      ...        ...  ..
5902  1731024000  1252.56  1262.84  1264.09  1250.77  503244952  ok
5903  1731283200  1250.32  1253.81  1253.87  1241.29  712083666  ok
5904  1731369600  1244.82  1251.79  1257.02  1242.91  516346103  ok
5905  1731456000  1246.04  1242.94  1247.04  1234.62  587703568  ok
5906  1731542400  1243.83  1243.85  1244.58  1242.39   22237093  ok

[5907 rows x 7 columns]

In [12]:
df['t'] = pd.to_datetime(df['t'], unit='s').dt.strftime('%m-%d-%Y 00:00:00+00:00')
df['t'] = pd.to_datetime(df['t'])

In [13]:
df

,t,c,o,h,l,v,s
0,2000-07-28 00:00:00+00:00,100.00,100.00,100.00,100.00,4200,ok
1,2000-07-31 00:00:00+00:00,101.55,101.55,101.55,101.55,10300,ok
2,2000-08-02 00:00:00+00:00,103.38,103.38,103.38,103.38,300,ok
3,2000-08-04 00:00:00+00:00,105.20,105.20,105.20,105.20,3800,ok
4,2000-08-07 00:00:00+00:00,106.92,106.92,106.92,106.92,13200,ok
...,...,...,...,...,...,...,...
5902,2024-11-08 00:00:00+00:00,1252.56,1262.84,1264.09,1250.77,503244952,ok
5903,2024-11-11 00:00:00+00:00,1250.32,1253.81,1253.87,1241.29,712083666,ok
5904,2024-11-12 00:00:00+00:00,1244.82,1251.79,1257.02,1242.91,516346103,ok
5905,2024-11-13 00:00:00+00:00,1246.04,1242.94,1247.04,1234.62,587703568,ok
5906,2024-11-14 00:00:00+00:00,1243.83,1243.85,1244.58,1242.39,22237093,ok

In [ ]:
df.rename(
    columns={
        "t": "Date",
        "c": "Close",
        "o": "Open",
        "h": "High",
        "l": "Low",
        "v": "Volume"
    },
    inplace=True
)
df.drop(columns=["s"], inplace=True)

In [15]:
df

                          Date    Close     Open     High      Low     Volume
0    2000-07-28 00:00:00+00:00   100.00   100.00   100.00   100.00       4200
1    2000-07-31 00:00:00+00:00   101.55   101.55   101.55   101.55      10300
2    2000-08-02 00:00:00+00:00   103.38   103.38   103.38   103.38        300
3    2000-08-04 00:00:00+00:00   105.20   105.20   105.20   105.20       3800
4    2000-08-07 00:00:00+00:00   106.92   106.92   106.92   106.92      13200
...                        ...      ...      ...      ...      ...        ...
5902 2024-11-08 00:00:00+00:00  1252.56  1262.84  1264.09  1250.77  503244952
5903 2024-11-11 00:00:00+00:00  1250.32  1253.81  1253.87  1241.29  712083666
5904 2024-11-12 00:00:00+00:00  1244.82  1251.79  1257.02  1242.91  516346103
5905 2024-11-13 00:00:00+00:00  1246.04  1242.94  1247.04  1234.62  587703568
5906 2024-11-14 00:00:00+00:00  1243.83  1243.85  1244.58  1242.39   22237093

[5907 rows x 6 columns]

In [16]:
df["Date"].min()

Timestamp('2000-07-28 00:00:00+0000', tz='UTC')

In [17]:
df["Date"].max()

Timestamp('2024-11-14 00:00:00+0000', tz='UTC')

In [18]:
symbol = symbol.replace(".", "_").lower()

In [19]:
min_date = df["Date"].min().date()
max_date = df["Date"].max().date()
file_name = f"./data/{symbol}-{str(min_date)}-to-{str(max_date)}.csv"

In [20]:
file_name = file_name.replace("-", "_")

In [21]:
file_name

'./data/vnindex_2000_07_28_to_2024_11_14.csv'

In [22]:
df.to_csv(file_name, index=False)