In [1]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
symbol = 'VNINDEX'

In [3]:
query_string = {
    'symbol': symbol, 
}

In [4]:
query_string["resolution"] = "1D"
query_string["from"] = str(datetime(2000, 1, 1).timestamp())
query_string["to"] = str(datetime.now().timestamp())

In [5]:
query_string

{'symbol': 'VNINDEX',
 'resolution': '1D',
 'from': '946659600.0',
 'to': '1731586689.714374'}

In [6]:
headers = {'accept': 'application/json, text/plain, */*',
           'accept-encoding': 'gzip, deflate, br, zstd',
           'accept-language': 'en-US,en;q=0.9',
           'origin': 'https://iboard.ssi.com.vn',
           'priority': 'u=1, i',
           'referer': 'https://iboard.ssi.com.vn/',
           'sec-ch-ua': '"Not/A)Brand";v="8", "Chromium";v="126", "Microsoft Edge";v="126"',
           'sec-ch-ua-mobile': '?0',
           'sec-ch-ua-platform': '"Windows"',
           'sec-fetch-dest': 'empty',
           'sec-fetch-mode': 'cors',
           'sec-fetch-site': 'same-site',
           'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36 Edg/126.0.0.0'}

In [7]:
url_without_params = 'https://iboard-api.ssi.com.vn/statistics/charts/history'

In [8]:
response = requests.get(
    url=url_without_params,
    headers=headers,
    params=query_string
)

In [9]:
response.status_code

200

In [10]:
df = pd.DataFrame(response.json()["data"])

In [11]:
df

               t        c        o        h        l          v   s
0      964742400   100.00   100.00   100.00   100.00       4200  ok
1      965001600   101.55   101.55   101.55   101.55      10300  ok
2      965174400   103.38   103.38   103.38   103.38        300  ok
3      965347200   105.20   105.20   105.20   105.20       3800  ok
4      965606400   106.92   106.92   106.92   106.92      13200  ok
...          ...      ...      ...      ...      ...        ...  ..
5902  1731024000  1252.56  1262.84  1264.09  1250.77  503244952  ok
5903  1731283200  1250.32  1253.81  1253.87  1241.29  712083666  ok
5904  1731369600  1244.82  1251.79  1257.02  1242.91  516346103  ok
5905  1731456000  1246.04  1242.94  1247.04  1234.62  587703568  ok
5906  1731542400  1231.89  1243.85  1247.07  1231.69  555483270  ok

[5907 rows x 7 columns]

In [12]:
df['t'] = pd.to_datetime(df['t'], unit='s').dt.strftime('%Y%m%d')
# df['t'] = pd.to_datetime(df['t'])

In [13]:
df

             t        c        o        h        l          v   s
0     20000728   100.00   100.00   100.00   100.00       4200  ok
1     20000731   101.55   101.55   101.55   101.55      10300  ok
2     20000802   103.38   103.38   103.38   103.38        300  ok
3     20000804   105.20   105.20   105.20   105.20       3800  ok
4     20000807   106.92   106.92   106.92   106.92      13200  ok
...        ...      ...      ...      ...      ...        ...  ..
5902  20241108  1252.56  1262.84  1264.09  1250.77  503244952  ok
5903  20241111  1250.32  1253.81  1253.87  1241.29  712083666  ok
5904  20241112  1244.82  1251.79  1257.02  1242.91  516346103  ok
5905  20241113  1246.04  1242.94  1247.04  1234.62  587703568  ok
5906  20241114  1231.89  1243.85  1247.07  1231.69  555483270  ok

[5907 rows x 7 columns]

In [14]:
df.rename(
    columns={
        "t": "trade_date",
        "c": "close",
        "o": "open",
        "h": "high",
        "l": "low",
        "v": "volume"
    },
    inplace=True
)
df.drop(columns=["s"], inplace=True)

In [15]:
df

     trade_date    close     open     high      low     volume
0      20000728   100.00   100.00   100.00   100.00       4200
1      20000731   101.55   101.55   101.55   101.55      10300
2      20000802   103.38   103.38   103.38   103.38        300
3      20000804   105.20   105.20   105.20   105.20       3800
4      20000807   106.92   106.92   106.92   106.92      13200
...         ...      ...      ...      ...      ...        ...
5902   20241108  1252.56  1262.84  1264.09  1250.77  503244952
5903   20241111  1250.32  1253.81  1253.87  1241.29  712083666
5904   20241112  1244.82  1251.79  1257.02  1242.91  516346103
5905   20241113  1246.04  1242.94  1247.04  1234.62  587703568
5906   20241114  1231.89  1243.85  1247.07  1231.69  555483270

[5907 rows x 6 columns]

In [16]:
df["trade_date"].min()

'20000728'

In [17]:
df["trade_date"].max()

'20241114'

In [18]:
symbol = symbol.replace(".", "_").lower()

In [19]:
# min_date = df["trade_date"].min().date()
# max_date = df["trade_date"].max().date()
file_name = f"./data/{symbol}-2000-07-28-to-2024-11-14.csv"

In [20]:
file_name = file_name.replace("-", "_")

In [21]:
file_name

'./data/vnindex_2000_07_28_to_2024_11_14.csv'

In [22]:
df.to_csv(file_name, index=False)